@model IEnumerable<orocoche_v2.Models.Coches>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelos.Modelo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelos.Modelo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdCoche }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.IdCoche }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.IdCoche })
            </td>
        </tr>
    }

</table>
