@model orocoche_v2.Models.Modelos

@{
    ViewBag.Title = "Delete";
}

<h3>Seguro que quieres borrar este modelo?</h3>
<div>
    <h4>Modelo a borrar:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Marca:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca1.NombreMarca)
        </dd>

        <dt>
            Modelo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            Potencia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Potencia)
        </dd>

        <dt>
            Peso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            Año
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            Premium
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Premium)
        </dd>

        <dt>
            Carrocería:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCoche.NombreTipo)
        </dd>

        <dt>
            Tipo de Motor:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMotor.NombreTipo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
