@model IEnumerable<orocoche_v2.Models.TipoCoche>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreTipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreTipo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdTipoCoche }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdTipoCoche }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.IdTipoCoche })
        </td>
    </tr>
}

</table>
