@model orocoche_v2.Models.Reservas

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Estás seguro que quieres cancelar la reserva?</h3>
<div>
    <h4>Tu Reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modelos.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelos.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sedes.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sedes.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancelar Reserva" class="btn btn-default" /> |
            @Html.ActionLink("Vuelve a la lista", "Index")
        </div>
    }
</div>
