@model IEnumerable<orocoche_v2.Models.Sedes>

@{
    ViewBag.Title = "Index";
}

<h2>Sedes</h2>
@if (User.IsInRole("Administrador"))
{
<h4>
    @Html.ActionLink("Crear Nuevo", "Create")
</h4>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            @if (User.IsInRole("Administrador")){
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdSede }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.IdSede })
            </td>
            }
        </tr>
    }

</table>
